<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bupt.springmvc.web.dao.RelationalDatabaseInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Type" property="type" jdbcType="VARCHAR" />
    <result column="IP_host" property="ipHost" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="DB_name" property="dbName" jdbcType="VARCHAR" />
    <result column="Username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Type, IP_host, port, DB_name, Username, password
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from relational_database_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from relational_database_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from relational_database_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfoExample" >
    delete from relational_database_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfo" >
    insert into relational_database_info (ID, Type, IP_host, 
      port, DB_name, Username, 
      password)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{ipHost,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfo" >
    insert into relational_database_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="ipHost != null" >
        IP_host,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="dbName != null" >
        DB_name,
      </if>
      <if test="username != null" >
        Username,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="ipHost != null" >
        #{ipHost,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfoExample" resultType="java.lang.Integer" >
    select count(*) from relational_database_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update relational_database_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.ipHost != null" >
        IP_host = #{record.ipHost,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null" >
        port = #{record.port,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null" >
        DB_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        Username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update relational_database_info
    set ID = #{record.id,jdbcType=INTEGER},
      Type = #{record.type,jdbcType=VARCHAR},
      IP_host = #{record.ipHost,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=VARCHAR},
      DB_name = #{record.dbName,jdbcType=VARCHAR},
      Username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfo" >
    update relational_database_info
    <set >
      <if test="type != null" >
        Type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="ipHost != null" >
        IP_host = #{ipHost,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        DB_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        Username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.bupt.springmvc.web.model.RelationalDatabaseInfo" >
    update relational_database_info
    set Type = #{type,jdbcType=VARCHAR},
      IP_host = #{ipHost,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      DB_name = #{dbName,jdbcType=VARCHAR},
      Username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>